################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ray-Tracing-Homework
/Ray-Tracing-Homework/.vs/Ray-Tracing-Homework/v17
/Ray-Tracing-Homework/Ray-Tracing-Homework.vcxproj.user
/Ray-Tracing-Homework/Ray-Tracing-Homework.vcxproj.filters
/Ray-Tracing-Homework/Ray-Tracing-Homework.vcxproj
/Ray-Tracing-Homework/GridImage.ppm
/RayTracer/RayTracer.vcxproj
/RayTracer/RayTracer.vcxproj.user
/RayTracer/Sphere.ppm
/RayTracer/RayTracer.vcxproj.filters
/RayTracer/x64/Debug
